
<form action="/admin" method="POST" >
<fieldset>
    <legend><h3>Sign In</h3></legend>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">
    <label for="password"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password">
    <input type="submit" value="Login" class="btn">
</fieldset>
</form>
 
<!--register form -->

<form action="/register" method="POST" >
    <fieldset>
        <legend><h3>Register</h3></legend>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="password">
        <input type="submit" value="Register" class="btn">
    </fieldset>
    </form>
     